
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" >
  <link rel="stylesheet" href="https:////cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" >
  <link href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link href="vendors/css/vendor.bundle.base.css">
  <link href="vendors/css/vendor.bundle.addons.css">
  
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <link rel="shortcut icon" href="images/favicon.png" />